*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: url(../images/background-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif; }

.row {
  margin: 0 auto; }

.character-name {
  font-size: 2.8rem; }

.character-health {
  font-size: 2.8rem; }

.main-heading {
  text-align: center;
  margin-top: 45px;
  font-size: 48px;
  display: block; }

.row {
  max-width: 120rem;
  display: flex;
  justify-content: center; }
  .row:not(:last-child) {
    margin-bottom: 8rem;
    margin-top: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem ) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }

.character-img {
  width: 200px; }

.fight-area {
  align-items: center;
  display: none; }

#selected-character-section {
  padding-right: 10rem; }

.character-section {
  padding-left: 10rem; }

#fight-content {
  display: flex;
  justify-content: center;
  margin: 3rem; }

#attack-button {
  width: 10rem;
  height: 10rem;
  border-radius: 200px;
  transition: ease all .5s;
  background-color: #072083;
  border-color: #072083;
  color: white; }
  #attack-button:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    background-color: #F85B1A;
    border-color: #F85B1A;
    color: black; }
  #attack-button:active {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    transform: scale(1.03); }
  #attack-button:focus {
    outline: none; }

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#selected-character {
  background-color: lime;
  border: black;
  border-style: solid;
  border-width: 1rem; }

#defender {
  background-color: red;
  border: black;
  border-style: solid;
  border-width: 1rem; }

.enemy {
  background-color: blue;
  border: black;
  border-style: solid;
  border-width: 1rem; }

.overlay {
  position: fixed;
  display: none;
  /* Hidden by default */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(#F85B1A, #072083);
  z-index: 2; }

.victoryHeading {
  text-align: center;
  font-weight: bold; }
  .victoryHeading--primary {
    margin-top: 15%;
    font-size: 5rem; }
  .victoryHeading--secondary {
    font-size: 2rem; }

.overlay-lose {
  position: fixed;
  display: none;
  /* Hidden by default */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(#F85B1A, #072083);
  z-index: 2; }

.dragon-balls--image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
  animation: pulsate 2s ease infinite forwards; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.15); }
  100% {
    transform: scale(1); } }

.restart-btn {
  display: block;
  margin: auto;
  height: 45px;
  width: 150px;
  margin-top: 50px;
  border-radius: 25px;
  background-color: #072083;
  border: 2px black;
  transition: ease all .5s; }
  .restart-btn:hover {
    transform: scale(1.07);
    background-color: #3e63f5;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5); }
  .restart-btn:active {
    transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); }
  .restart-btn:focus {
    outline: none; }
