//My Font Sizes

$small-font-size: 1rem; 
$regular-font-size: 2rem;
$big-font-size: 5rem;
$character-text-size: 2.8rem;

//Gird Variables

$grid-width: 120rem; 
$gutter-vertical: 8rem; 
$gutter-horizontal: 5rem;