.fight-area{
    align-items: center;
    display: none;
}

#selected-character-section{
    padding-right: 10rem;
}

.character-section{
    padding-left: 10rem;
}

#fight-content{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

#attack-button{
    width: 10rem;
    height: 10rem;
    border-radius: 200px;
    transition: ease all .5s;
    background-color: #072083;
    border-color: #072083;
    color: white;

        &:hover{
            transform: scale(1.1);
            -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
            background-color: #F85B1A;
            border-color: #F85B1A;
            color: black;
        }
        
        &:active{
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.7);
            transform: scale(1.03);
        }

        &:focus{
            outline: none;
        }
}




